# Clams Project Requirements
# ==========================
#
# Note to Maintainers
# -------------------
#
# This requirements file is hand-maintained.  DO NOT use tools like
# `pip freeze > requirements.txt` or `pip-dump`!  They will overwrite this file
# and cause license information to be lost!
#
# Please include the applicable license and a link to the project or PyPI page
# for all packages required here.
#
#
# Format
# ------
#
# Requirements here are written in the following format by convention.  This is
# to help future maintainers understand what a package is, a hint to why it
# may have been added, and where to find more information about it.
#
#     package-name-pinned-to-version==1.7.3
#     # Short description (usually pulled straight from PyPI).
#     # License: Type of License
#     # PyPI: URL to the package on PyPI (if available)
#     # Source: URL to public source repository (if available)
#
#
# Licenses
# --------
#
# A list of open source licenses and their descriptions can be found here:
#
#     http://www.gnu.org/licenses/license-list.en.html
#
# ============================================================================


Sphinx==1.3.1
# Python documentation generator.
# License: BSD
# PyPI: https://pypi.python.org/pypi/Sphinx
